body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Montserrat', 'Avenir Bold', sans-serif;

    * {
        font-family: inherit;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $bp-1) {
    .main-container{
        max-width: $main-container-width-bp-1!important;
    }
}

@media screen and (max-width: $bp-m) {
    .content-container{
        .left-container{
            min-height: calc(100vh - #{$menu-bar-height})!important;
        }

        .right-container{
            min-height: calc(100vh - #{$menu-bar-height})!important;
        }
    }
}

.spoopy{
    opacity: 0;
    transition: opacity 0ms;
}

.main-container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: $main-container-width;
    transition: 200ms;
    overflow: hidden;
    z-index: 20;
    border-top: none;
    border-bottom: none;
}

.content-container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    
    .content-container-inner{
        width: calc(100% / 2 * #{$views}); height: 100%;
        position: absolute;
        top: 0; left: 0%;
        font-size: 0;
        transition: 400ms;
        
        @media screen and (max-width: 640px) {
            width: calc(100% / 1 * #{$views});
        }
    }
    
    &.poly-view{
        .content{ height: auto!important; }

        .left-container{
            width: 0%;
        }

        .right-container{
            width: 100%;
        }

        @media( min-width: 480px){

            .left-container{

                width: 240px;
            }

            .right-container{
                width: calc(100% - 240px);
            }
        }

        @media( min-width: 640px){

            .left-container{

                width: 320px;
            }

            .right-container{
                width: calc(100% - 320px);
            }
        }

        @media( min-width: 768px){

            .left-container,
            .right-container{
                width: 50%;
            }
        }

    }
    
    .loader{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
    }

    .container-section{
        position: relative;
        width: calc( 100% / #{$views} );
        height: 100%;
        min-height: calc(100vh - #{$top-area-height} - #{$menu-bar-height});
        transition: 400ms;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
    
        .sync-outer:not(.fixed){
            width: 100%;
        }
    
        .content{
            min-height: calc( 100vh - #{$menu-bar-height} );
        }
    }
    
    // Location categories
    #section2{ 
        background-color: white;
        width: calc( 100% / #{$views} * 2 / 3 );
        transition: 400ms;
        
        &.normalize{
            width: calc( 100% / #{$views} );
        }
    }
    
    // Locations
    #section3{ 
        background-color: #f0f0f0;
    }

    #section4{
        background-color: #fff;
    }
    
    // Event Calender
    #section1{
        background-color: #f0f0f0;
        transition: 400ms;
        padding-bottom: 141px;
        width: calc( 100% / #{$views} * 2 / 3 * 2 ); 
        
        &.normalize{
            width: calc( 100% / #{$views} );;
        }
        
        .content{
            min-height: calc(100vh - #{$menu-bar-height});
        }

        &.no-trans{
            transition: 0ms;
        }
    }
    
    // Event single view
    #section0{
        background-color: white;
        width: calc( 100% / #{$views} );;
        // flex-grow: 1;
        // transition: width 250ms, opacity 100ms;

        &.no-trans{
            transition: 0ms;
        }
    }
}

/*@media only screen and(min-width:1080px){
    .content-container.poly-view .left-container{
        width: calc(50% - 640px);
    }
    .content-container.poly-view .right-container{
        width: 640px;
    }
}

@media only screen and(min-width:1400px){
    .content-container.poly-view .left-container{
        width: calc(50% - 720px);
    }
    .content-container.poly-view .right-container{
        width: 720px;
    }
}*/
