body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Montserrat', 'Avenir Bold', sans-serif;

    * {
        font-family: inherit;
        box-sizing: border-box;
    }

    &.no-scroll{
        // overflow: hidden;
        height: 100%;
        //margin-right: 14px;
    }

    @media(min-width:#{$bp-1}){
        &:before, &:after{
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: inherit;
            width: calc((100% - #{$bp-1}) / 2);
            z-index: 100;
        }

        &:after{
            left: auto;
            right: 0;
        }
    }

    @media(min-width:#{$bp-2}){
        &:before, &:after{
            width: calc((100% - #{$bp-2}) / 2);
        }
    }
}

@keyframes fadein{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fadeout{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}


.main-container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: $main-container-width;
    transition: 200ms;
    z-index: 20;
    border-top: none;
    border-bottom: none;
    //overflow: hidden;
}

$horizontal-bezier: cubic-bezier(.73, .01, .61, 1.03);
.content-container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh;
    
    .content-container-inner{
        width: calc(100% / 2 * #{$views}); height: 100%;
        position: absolute;
        top: 0; left: 0%;
        font-size: 0;
        transition: 400ms;
        transition-timing-function: $horizontal-bezier;
        //transform: translateZ(0);
        
        &.notrans{
            transition: 0ms!important;
        }

        &.transition{
            transition: 250ms;
        }
        
        @media screen and (max-width: 640px) {
            width: calc(100% / 1 * #{$views});
        }
    }
    
    &.poly-view .content{ height: auto!important; }

    
    .loader{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
    }

    .container-section{
        position: relative;
        width: calc( 100% / #{$views} );
        height: 100%;
        min-height: calc(100vh - #{$top-area-height} - #{$menu-bar-height});
        transition: 400ms;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
    
        .sync-outer:not(.fixed){
            width: 100%;
        }
    
        .content{
            min-height: calc( 100vh - #{$menu-bar-height} );
        }
    }
    
    // Location categories
    #section2{ 
        background-color: white;
        width: calc( 100% / #{$views} );
        transition: width 400ms;
        transition-timing-function: $horizontal-bezier;
        @media(min-width: 640px){width: 17.5%; &.normalize{width: calc( 100% / #{$views} );}}

        &.normalize{
            width: calc( 100% / #{$views} );
        }
    }
    
    // Locations
    #section3{ 
        background-color: #f0f0f0;
    }

    #section4{
        background-color: #fff;
    }
    
    // Event Calender
    #section1{
        background-color: #f0f0f0;
        transition: width 400ms;
        transition-timing-function: $horizontal-bezier;
        padding-bottom: 141px;
        width: calc( 100% / #{$views} );
        @media(min-width: 640px){width: 22.5%; &.normalize{width: calc( 100% / #{$views} );}}
        
        &.normalize{
            width: calc( 100% / #{$views} );
        }
        
        .content{
            min-height: calc(100vh - #{$menu-bar-height});
        }

        &.no-trans{
            transition: 0ms;
        }
    }
    
    // Event single view
    #section0{
        background-color: white;
        width: calc( 100% / #{$views} );;
        // flex-grow: 1;
        // transition: width 250ms, opacity 100ms;

        &.no-trans{
            transition: 0ms;
        }
    }
}
