body {
    margin: 0;
    background-color: #292929;

    * {
        font-family: 'Montserrat', 'Avenir Bold', sans-serif;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $bp-1) {
    .main-container{
        max-width: $main-container-width-bp-1!important;
    }
}

@media screen and (max-width: $bp-m) {
    .content-container{
        .left-container{
            min-height: calc(100vh - #{$menu-bar-height})!important;
        }

        .right-container{
            min-height: calc(100vh - #{$menu-bar-height})!important;
        }
    }
}

.main-container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    max-width: $main-container-width;
    transition: 200ms;
    overflow: hidden;
}

.content-container{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0,0,0,.4);
    z-index: 1;
    display: flex;

    &.poly-view{
        .left-container{
            max-width: 50%;
        }

        .right-container{
            min-width: 50%;

            @media screen and (min-width: $bp-2) {
                min-width: 700px;
            }
        }
    }
    
    .loader{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
    }
    

    .container-section{
        position: relative;
        width: 100%;
        height: auto;
        min-height: calc(100vh - #{$top-area-height} - #{$menu-bar-height});
    }


    .left-container{
        background-color: #CDCDCD;
        transition: width 100ms;
        flex-grow: 1;
        padding-bottom: 141px;

        &.no-trans{
            transition: 0ms;
        }
    }
    
    .right-container{
        background-color: white;
        width: 0;
        flex-grow: 0;
        transition: width 100ms, opacity 100ms;

        &.spoopy{
            opacity: 0;
            transition: opacity 0ms;
        }

        &.no-trans{
            transition: 0ms;
        }
    }
}


@media only screen and(min-width:640px){
    .content-container .left-container.active,
    .content-container .right-container.active{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        flex-grow: 1;
    }
}

@media only screen and(min-width:1080px){
    .content-container .left-container.active{
        width: calc(100% - 700px);
    }
    .content-container .right-container.active{
        width: 700px;
    }

}
