@keyframes cookieUp{
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}

}

.cookie-ok{
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    background: rgba(#333,.97);
    padding: 20px 10px;
    z-index: 100;
    animation: cookieUp linear 1 forwards 150ms;
    animation-delay: 200ms;
    box-shadow: 1px 1px 3px rgba(black,.3);
    text-align: center;

    @media ( min-width: 480px){
        padding: 30px 20px;
        font-size: 24px;
    }

    @media ( min-width: 640px){
        font-size: 32px;
    }

    @media ( min-width: 960px){
        font-size: 52px;
    }

    span,a{
        font-family: 'Avenir', sans-serif;
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: white;
        padding: 3px 14px 0px;
        text-decoration: none;
        @media ( min-width: 480px){
            padding: 5px 20px 0px;
        }
    }

    span{font-weight: bold;}

    a:after{
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: -3px;
        height: 1px;
        background: white;
        content: '';
        opacity: 0;
        transition: opacity 120ms;

        @media (min-width: 480px) {
            left: 20px;
            right: 20px;
        }
    }

    a:hover:after{
        opacity: 1;
    }

    a.cookie-accept{
        border-right: 1px solid white;
    }

}
