@media screen and (max-width: $bp-m) {
    #eventsbar{
        .monthSelector{
            right: 20px!important;
        }
    }
}
    
#eventsbar{
    position: relative;
    width: 100%;
    height: $menu-bar-height;
    background-color: darken($color-blue-2, 5%);
    z-index: 10;
    // border-right: 1px solid rgba(0,0,0,.2);

    #eventslayoutbtns{
        position: relative;
        width: 128px;
        height: 100%;
        border-right: 1px solid #CDCDCD;
        transition: 300ms;
        display: inline-block;

        &:hover {
            background-color: darken($color-blue-2, 2%);
        }

        svg{
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: 22px;
            width: 22px;
            cursor: pointer;
            fill: rgba(white,.9);
            transition: fill 120ms;
            &:hover{
                fill: white;
            }
        }

        .blocklayoutbtn{
            left: 30%;
        }

        .linelayoutbtn{
            left: 66%;
        }
    }
    
    .monthSelector{
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 32px;
        transform: translate(0, -50%);
        color: white;
        cursor: pointer;
        padding-right: 22px;
        text-transform: uppercase;
        transition: 120ms;
        font-size: 12px;
    }
}

.events-sync-container{
    position: absolute;
    width: 100%;
    min-height: calc( 100vh - 60px );
    height: auto;    
}

.eventscontainer-outer{
    padding: 3px;
    @media (min-width: 480px){
        padding: 10px;
    }

}

.eventscontainer {
    // border-right: 1px solid rgba(0,0,0,.15);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
    padding-bottom: 60px;

    @media(min-width: 640px){
       padding: 0;
        padding-bottom: 60px;
    }

    display: flex;
    flex-wrap: wrap;
    * { font-family: 'Montserrat', 'Avenir Bold', sans-serif; }
    
    .error{
        position: absolute;
        top: 48px;
        left: 50%;
        transform: translate(-50%, 0);
        text-transform: uppercase;
        font-size: 19px;
        width: 100%;
        text-align: center;
    }

    &.lineLayout{
        padding-top: 12px;

        .event{
            width: 100%;
            min-height: 110px;
            height: auto;
            margin: 6px 15px;

            .imgcontainer{
                float: left;
                width: 110px;
                height: 100%;
                border-bottom: none;
                border-right: 1px solid rgba($color-blue-1, .6);
                padding-bottom: 0;
            }

            .eventtext{
                width: auto;
                height: auto;
                padding: 8px;
                margin-bottom: 36px;

                .title{
                    width: auto;
                    font-size: 10px;
                    margin-left: 0px!important;
                }

                .start_time{
                    margin-top: 0px;
                    margin-left: 0px!important;
                }
            }


            .eventlocation-container {
                width: calc(100% - 130px);
                position: absolute;
                bottom: 10px;
                left: 120px;
                height: 2em;
                text-transform: uppercase;

                .eventblackbar{
                    height: 2px;
                }
            }

            @media(min-width:640px){
                min-height: 110px;

                .imgcontainer{
                    width: 160px;
                    border-right: 1px solid $color-blue-1;
                }

                .eventtext{
                    padding: 16px;
                    margin-bottom: 36px;

                    .title{
                        font-size: 14px;
                    }
                }

                .eventlocation-container {
                    width: calc(100% - 190px);
                    bottom: 5px;
                    left: 175px;

                    .eventblackbar{
                        height: 2px;
                    }
                }
            }
        }
    }
}

<<<<<<< HEAD
    .event {
        overflow: hidden;
        box-sizing: border-box;
=======
.event {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 140px;
    margin: 4px;
    border: 1px solid rgba($color-blue-1, .6);
    background-color: #f9f9f9;
    transition: background-color 120ms;
    flex-grow: 1;
    cursor: pointer;

    &:hover{
        background-color: #fff;
    }

    @media(min-width:640px){
        width: 165px;
        margin: 6px;
        border: 1px solid $color-blue-1;
    }

    .imgcontainer{
>>>>>>> origin/react-conversion
        position: relative;
        width: 100%;
        padding-bottom: 50%;
        background-size: cover;
        background-position: center 20%;
        border-bottom: 1px solid rgba($color-blue-1, .6);

        .loader{
            position: absolute;
            top: 50%; left: 50%;
            width: 100%; height: 100%;
            background-color: rgba(0,0,0,.75);
            opacity: 0;
            transition: 250ms;
            z-index: 19;

            img{
                position: absolute;
                top: 50%; left: 50%;
                width: 30px;
                height: auto;
                transform: translate(-50%, -50%);
            }
        }

        &.loading{
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
        }

        &.loadingsv{
            .loader{
                opacity: 1;
            }
        }

        @media(min-width:640px){
            padding-bottom: 90px;
            border-bottom: 1px solid $color-blue-1;
        }
    }

<<<<<<< HEAD
        .imgcontainer{
            width: 100%;
            padding-bottom: 50%;
            background-size: cover;
            background-position: center 20%;
            border-bottom: 1px solid rgba($color-blue-1, .6);
            position: relative;
            z-index: 1;

            &.loading{
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: center;
=======
    .eventtext{
        position: relative;
        overflow: hidden;
        padding: 10px;
        padding-top: 10px;
        width: 100%;
        height: 140px;
        text-transform: uppercase;
        transition: 500ms;

        * {
            z-index: 10;
            transition: 200ms;
            position: relative;
        }

        &.bookmark-mode{
            //color: white!important;
            background-color: lighten($color-blue-1,30%)!important;
        }

        &.bookmark-mode .eventblackbar {
            //background-color: white!important;
        }

        .ripple{
            border-radius: 100%;
            background-color: lighten($color-blue-2, 5%);
            position: absolute;
            width: 700px;
            height: 700px;
            transform: scale(0);
            opacity: .9;
            z-index: 0;

            @keyframes ripple {
                100% {
                    transform: scale(1);
                    opacity: 0;
                }
            }

            @keyframes rippleBack {
                100% {
                    transform: scale(0);
                    opacity: 1;
                }
            }

            &.animate{
                animation: ripple 300ms ease-in forwards;
>>>>>>> origin/react-conversion
            }

            &.animateBack{
                transform: scale(1);
                opacity: 1;
                animation: rippleBack 300ms ease-in forwards;
            }
        }

        .title{
            font-size: 11px;
        }

        .start_time{
            font-size: 10px;
            text-align: justify;
            color: #999;
            margin-top: 5px;
        }


        @media(min-width:640px){
            height: 160px;
            padding: 10px;
            padding-top: 15px;

            .title{
                font-size: 12px;
            }

            .start_time{
                font-size: 10px;
            }

            .eventlocation-container {
                left: 15px;
                bottom: 15px;
                width: calc(100% - 30px);

                .eventlocation{
                    font-size: 9px;
                }
            }

            .eventblackbar{
                height: 3px;
            }

        }
    }

    .eventlocation-container {
        width: calc(100% - 20px);
        position: absolute;
        bottom: 15px;
        left: 10px;
        height: 2em;
        text-transform: uppercase;

        .eventblackbar{
            height: 2px;
            width: 100%;
            background-color: $color-blue-1;
            margin-top: 6px;
            margin-bottom: 5px;
        }

        .eventlocation{
            font-size: 9px;
            color: $color-blue-1;
            line-height: 11px;

            /*
            &:hover{
                text-decoration: underline;
            }
            */
        }
    }
}

.left-container{
    &.all-loaded{
        padding-bottom: 0;

        .load-more{
            display: none;
        }
    }
}

#eventcv-load-more{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; //124px;
    //line-height: 124px;
    text-align: center;
    color: white;
    font-size: 16px;
    //background-color: $color-blue-2;
    cursor: pointer;
    // border-right: 1px solid rgba(0, 0, 0, 0.2);
    // border-top: 1px solid rgba(40, 40, 40, 0.2);

    &:before{
        content: '';
        display: block;
        height: 10px;
        width: 3px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba($color-blue-2,.3);
    }

     &:after{
        content: '';
        display: block;
        height: 5px;
        width: 32px;
        margin-top: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba($color-blue-2,.3);
    }

    &.loading{

        &:after,&:before{
            display: none;
        }

        background: url(assets/icons/loading.svg) center no-repeat;
        background-size: 32px;
    }
}
