
// Event Single View
.event-sv-content-container {
    position: relative;
    min-height: calc( 100vh - #{$menu-bar-height} );
    background-color: white;
    z-index: 10;

    .event-singleview{
        padding: 21px 32px 21px 32px;
        width: 100%;
        height: auto;

        .event-sv-parentname{
            font-size: 16px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .event-sv-img{
            width: 100%;
            padding-bottom: 56.25%;
            border: 1px solid $color-blue-1;
            margin-bottom: 16px;
            background-size: cover;
            background-position: center;
            margin: 0;
        }

        .event-sv-title{
            line-height: 1.4;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 19px;
        }

        .event-sv-start-time{
            font-size: 13px;
            margin-bottom: 19px;
            color: $color-blue-1;
        }

        .lineBreak{
            border: 0px;
            height: 1px;
            background-color: $color-blue-1;
        }

        .event-sv-status-btns{
            margin: 18px 0;

            .status-btn{
                position: relative;
                color: #4b4f56;
                border: 1px solid #f6f7f9;
                border-radius: 2px;
                box-shadow: inset 0px 0px 3px rgba(0,0,0,.5);
                font-size: 12px;
                padding: 0 10px 0px 25px;
                width: auto;
                height: 26px;
                line-height: 24px;
                display: inline-block;
                cursor: pointer;
                margin-right: 8px;

                &:active{
                    box-shadow: inset 0px 0px 5px rgba(0,0,0,.7);
                }

                .icon{
                    position: absolute;
                    left: 10px;
                    top: 53%;
                    transform: translate(0,-50%);
                    font-size: 16px;
                    font-weight: bold;
                }

                .text{
                    display: inline-block;
                }
            }
        }

        .event-sv-desc{
            * {
                font-family: 'Avenir';
                font-size: 14px;
            }
        }

        &.fixed-bottom{
            position: fixed;
            top: auto;
            bottom: 32px;
            left: calc( 50% + 32px );
            right: 32px;
        }

        &.fixed-top{
            position: fixed;
            top: 32px;
            bottom: auto;
            left: calc( 50% + 32px );
            right: 32px;
        }
    }

    .event-sv-info-placeholder{
        width: 100%;
    }


    .event-sv-info{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 32px;
        background-color: darken($color-blue-2, 10%);
        color: white;

        .event-sv-parentname{
            font-size: 14px;
            text-transform: uppercase;
        }

        .event-sv-adress{
            font-size: 13px;
        }

        .event-sv-website{
            display: inline-block;
            margin-top: 16px;
            color: rgba(lighten($color-green-1, 0%), .9);
            font-size: 13px;
            text-decoration: none;
            transition: 200ms;

            &:hover{
                color: rgba(lighten($color-green-1, 0%), 1);
            }
        }
    }
}

@media screen and (max-width: $bp-1) {
    .commercial-img{
        max-width: calc(#{$main-container-width-bp-1} / 2 - 64px)!important;
    }
}

.commercial-img{
    margin: 32px;
    padding-bottom: 56.25%;
    opacity: .65;
    transition: 350ms;
    cursor: pointer;
    background-size: cover;
    background-position: center;

    &:hover{
        opacity: 1;
    }
}
