@media screen and (max-width: $bp-m) {
    #eventsbar{
        .monthSelector{
            right: 20px!important;
        }
    }
}
    
#eventsbar{
    position: relative;
    width: 100%;
    height: $menu-bar-height;
    background-color: $color-blue-2;
    z-index: 10;
    // box-shadow: 0px 1px 5px rgba(1,1,1,.5);

    #eventslayoutbtns{
        position: relative;
        width: 128px;
        height: 100%;
        border-right: 1px solid #CDCDCD;
        transition: 300ms;
        display: inline-block;

        &:hover {
            background-color: lighten($color-blue-2, 4%);
        }

        img{
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: 22px;
            cursor: pointer;
        }

        .blocklayoutbtn{
            left: 30%;
        }

        .linelayoutbtn{
            left: 66%;
        }
    }
    
    .monthSelector{
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 32px;
        transform: translate(0, -50%);
        color: white;
        cursor: pointer;
        padding-right: 22px;
        text-transform: uppercase;
        transition: 120ms;
        font-size: 13px;
    }
}

.events-sync-container{
    position: absolute;
    width: 100%;
    min-height: calc( 100vh - 60px );
    height: auto;    
}

.eventscontainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 4px;

    @media(min-width: 480px){
       padding: 10px;

    }


    display: flex;
    flex-wrap: wrap;
    * { font-family: 'Montserrat', 'Avenir Bold', sans-serif; }
    
    .error{
        position: absolute;
        top: 48px;
        left: 50%;
        transform: translate(-50%, 0);
        text-transform: uppercase;
        font-size: 19px;
        width: 100%;
        text-align: center;
    }

    &.lineLayout{
        .event{
            width: 100%;
            min-height: 110px;
            height: auto;
            


            .imgcontainer{
                float: left;
                width: 110px;
                height: 100%;
                border-bottom: none;
                border-right: 1px solid rgba($color-blue-1, .6);
                padding-bottom: 0;
            }

            .eventtext{
                width: auto;
                height: auto;
                padding: 8px;
                margin-bottom: 36px;

                .title{
                    width: auto;
                    font-size: 12px;
                    margin-left: 110px;
                }

                .start_time{
                    margin-top: 0px;
                    margin-left: 110px;
                }

                .eventlocation-container {
                    width: calc( 100% - 135px );
                    right: 16px;
                    left: auto;
                    bottom: 5px;
                    
                    .eventblackbar{
                        height: 2px;
                    }
                }
            }

            @media(min-width:480px){
                min-height: 110px;

                .imgcontainer{
                    width: 160px;
                    border-right: 1px solid $color-blue-1;
                }

                .eventtext{
                    padding: 16px;
                    margin-bottom: 36px;

                    .title{
                        font-size: 14px;
                        margin-left: 160px;
                    }

                    .start_time{
                        margin-left: 160px;
                    }

                    .eventlocation-container {
                        width: calc( 100% - 192px );
                        right: 16px;
                        bottom: 10px;

                        .eventblackbar{
                            height: 2px;
                        }
                    }

                }
            }
        }
    }

    .event {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        width: 145px;
        margin: 4px;
        border: 1px solid rgba($color-blue-1, .6);
        background-color: #FFF;
        flex-grow: 1;
        cursor: pointer;

        @media(min-width:480px){
            width: 160px;
            margin: 6px;
            border: 1px solid $color-blue-1;
        }

        .imgcontainer{
            width: 100%;
            padding-bottom: 80px;
            background-size: cover;
            background-position: center 20%;
            border-bottom: 1px solid rgba($color-blue-1, .6);

            @media(min-width:480px){
                padding-bottom: 90px;
                border-bottom: 1px solid $color-blue-1;
            }
        }

        .eventtext{
            padding: 10px;
            padding-top: 10px;
            width: 100%;
            height: 140px;
            text-transform: uppercase;

            .title{
                font-size: 11px;
            }

            .start_time{
                font-size: 10px;
                text-align: justify;
                color: #999;
                margin-top: 5px;
            }

            .eventlocation-container {
                width: calc(100% - 20px);
                position: absolute;
                bottom: 15px;
                left: 10px;
                height: 2em;

                .eventblackbar{
                    height: 2px;
                    width: 100%;
                    background-color: $color-blue-1;
                    margin-top: 6px;
                    margin-bottom: 5px;
                }

                .eventlocation{
                    font-size: 8px;
                    color: $color-blue-1;
                    line-height: 11px;
                }
            }


            @media(min-width:480px){
                height: 160px;
                padding: 15px;
                padding-top: 15px;

                .title{
                    font-size: 13px;
                }

                .start_time{
                    font-size: 12px;
                }

                .eventlocation-container {
                    left: 15px;
                    bottom: 15px;
                    width: calc(100% - 30px);
                    .eventlocation{
                        font-size: 9px;
                    }
                }

                .eventblackbar{
                    height: 3px;
                }

            }
        }
    }
}

.left-container{
    &.all-loaded{
        padding-bottom: 0;

        .load-more{
            display: none;
        }
    }
}

.load-more{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 141px;
    line-height: 141px;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: $color-blue-2;
    cursor: pointer;
}
