@media screen and (max-width: $bp-m) {
    .footer{
        .copyright{
            position: relative!important;
            right: 0!important;
            text-align: center;
        }
    }
}

.footer{
    position: relative;
    width: 100%;

    .copyright{
        position: relative;
        color: #e0e0e0;
        padding: 30px 20px;
        text-align: center;
        font-size: 12px;
        background-color: $color-grey-1;

        a{
            color: inherit;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
