#headerbar{
    position: relative;
    width: 100%;
    height: $header-bar-height;
    border-bottom: 1px solid #151515;
    z-index: 20;
    overflow: hidden;
    
    .logo-container{
        position: absolute;
        left: 0;
        width: auto;
        padding-right: 20px;
        height: 100%;
        z-index: 30;
        cursor: pointer;
        background-color: darken($color-grey-1, 10%);
        
        &::before{
            content: '';
            position: absolute;
            right: -18px;
            border-top: $header-bar-height / 2 solid transparent;
            border-bottom: $header-bar-height / 2 solid darken($color-grey-1, 10%);
            border-left: 9px solid darken($color-grey-1, 10%);
            border-right: 9px solid transparent;
        }
        
        .logo{
            width: 24px;
            height: $header-bar-height;
            fill: white;
            margin: 0px 10px;
            display: inline-block;
            vertical-align: top;
        }
        
        .city{
            display: inline-block;
            vertical-align: top;
            color: white;
            width: auto;
            height: $header-bar-height;
            line-height: $header-bar-height;
            font-size: 9px;
            text-transform: uppercase;
        }
    }
}


.header-bar-nav{
        height: $header-bar-height;
        text-align: right;
        float: right;
        font-size: 0;
        
        a{
            background-color: transparent;
            display: inline-block;
            position: relative;
            fill: #f0f0f0;
            height: $header-bar-height;
            border-left: 1px solid white;
            width: $header-bar-height * 1.15;
            transition: background-color 120ms, fill 120ms;
        }
        
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 14px;
            width: 14px;
        }
    }




