#headerbar{
    position: relative;
    width: 100%;
    height: $menu-bar-height;
    border-bottom: 1px solid #151515;
    z-index: 20;
    overflow: hidden;
    
    .logo{
        position: absolute;
        left: 11px; top: 56%;
        transform: translate(0, -50%);

        svg{
            fill: #fff;
            width: 28px;
            height: 28px;
        }
    }

    .logo-container{
        position: absolute;
        left: 0;
        height: 100%;
        z-index: 30;
        cursor: pointer;
        
        .city{
            color: white;
            position: absolute;
            left: 80px;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            text-align: center;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
    
    #top-nav-icons{
        display: flex;
        position: absolute;
        right: 0; top: 0;
        width: auto; height: 100%;
        flex-wrap: nowrap;
        
        .nav-elem{
            position: relative;
            flex-grow: 1;
            border-left: 1px solid #CCC;
            width: $menu-bar-height;
            cursor: pointer;
            transition: 80ms cubic-bezier(.72, 0, .28, 1);

            &.bookmark-mode{
                background-color: $color-blue-2;
            }

            &.nav-user{
                &:hover{
                    svg{
                        transform: translate(-50%,-50%) rotate(45deg);
                    }
                }
            }
            
            svg{
                position: absolute;
                top: 50%; left: 50%;
                transform: translate( -50%, -50% );
                fill: #EEE;
                width: 14px;
                height: 14px;
                transition: 120ms cubic-bezier(.72, 0, .28, 1);
            }
        }
    }
    
    /*#menu-show-btns{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 38px;
        height: 38px;
        opacity: .4;
    
        .menu-show-img{
            fill: white;
            position: absolute;
            top: 60px;
            width: 37px;
            height: 37px;
            transition: all 300ms, rotate 500ms, top 300ms;
            cursor: pointer;
        }
        
        .menu-hide-img{
            fill: white;
            position: absolute;
            top: 60px;
            width: 37px;
            height: 37px;
            transition: all 300ms, rotate 500ms, top 300ms;
            cursor: pointer;
        }
        
        &.active{
            .menu-show-img{
                top: 60px!important;
            }
            
            .menu-hide-img{
                top: 0!important;
            }
        }
        
        &.show{
            .menu-show-img{
                top: 0;
            }
        }

    }
    

    .back-button{
        position: absolute;
        background-color: darken( $color-grey-1, 10% );
        top: 0;
        right: -140px;
        bottom: 0;
        width: 112px;
        transition: 300ms;
        z-index: 10;
        &.active { right: 0; }

        &::before{
            content: '';
            position: absolute;
            left: -16px;
            border-top: $menu-bar-height / 2 solid darken( $color-grey-1, 10% );
            border-bottom: $menu-bar-height / 2 solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid darken( $color-grey-1, 10% );
        }

        &.mobile{
            .back-img{
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }

        .back-img{
            fill: white;
            opacity: .8;
            position: absolute;
            width: 36px;
            height: 36px;
            top: 50%;
            left: 46%;
            transform: translate(-50%, -50%) rotate(180deg);
        }

    }

    .beta-warning{
        position: absolute;
        top: 50%;
        right: -128px;
        transform: translate(0, -50%);
        color: white;
        text-align: right;
        line-height: 14px;
        transition: 300ms;
        z-index: 9;
        cursor: pointer;
        &.active { right: 22px; }
        
        .info {
            text-transform: uppercase;
            font-size: 13px;

            .info-arrow-img{
                fill: white;
                width: 10px;
                height: 10px;
                margin-left: 4px;
            }
        }
        
        .version {
            text-transform: capitalize;
            font-size: 10px;
        }
    }
    
    .socialmedia {
        display: none;
        position: absolute;
        width: auto;
        height: auto;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        
        .fb_link{
            width: auto;
            height: auto;
            opacity: .5;
            transition: 200ms;
            &:hover{ opacity: .85; }
            
            .fb_img{
                width: 36px;
                height: 36px;
            }
        }
    }*/
}





