#location-single-view{
    .content,
    .location-singleview-content,
    .scroll-container{
        background: inherit;
    }
}

.location-singleview-bar{
    position: relative;
    pointer-events: all;
    width: 100%;
    height: 60px;
    background-color: $color-blue-2;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 60px;
    padding-left: 20px;

    .close-button{
        position: absolute;
        top: 50%;
        right: 0px;
        width: 65px;
        text-align: center;
        transform: translate(0,-50%);
        color: white;
        font-size: 37px;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 120ms;
        border-left: 1px solid rgba(white,.6);

        &:hover{
            background-color: lighten($color-blue-2,2%);
        }
    }

}

.location-singleview-content{
    width: 100%;
    padding: 12px 12px 0px;
    @media (min-width: 769px){
     padding: 16px 16px 0px;
    }

    height: auto;
    overflow: auto;

    .breakline{
        width: 100%;
        border-bottom: 1px solid $color-blue-2;
    }

    .photo-container{
        position: relative;
        width: 100%;
        height: auto;

        .coverphoto{
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            background-size: cover;
            background-position: 20% center;
            border: 1px solid $color-blue-2;
        }

        .picture{
            position: absolute;
            bottom: 0; left: 16px;
            transform: translate( 0, 75% );
            width: 64px; height: 64px;
            border: 1px solid $color-blue-2;
            background-size: cover;
            background-position: center;
        }
    }

    .cta-icons{
        position: relative;
        width: auto;
        height: auto;
        padding: 25px 16px;
        overflow: auto;

        .cta-icon{
            flex-grow: 1;
            cursor: pointer;
            margin-left: 24px;
            display: inline-block;
            float: right;

            svg{
                width: 28px;
                height: 28px;
            }
        }
    }

    .description-container{
        padding: 8px 0px;
        font-family: 'Avenir';
        line-height: 1.5;

        .title{
            font-size: 16px;
            font-family: 'Avenir bold';
        }

        .description{
            padding: 8px 0px;
            font-size: 15px;
            max-width: 769px;
            word-wrap: break-word;
        }
    }

    .event-slider{
        background: inherit;
        margin-top: 32px;
        margin-left: -10px;
        margin-right: -10px;

        .rail-bar-wrapper{
            background: inherit;
            left: 4px;
            right: 4px;

            &:before,
            &:after{
                background: inherit;
                content: '';
                position: absolute;
                height: 100%;
                width: 4px;
                left: -1px;
                top: 0;
                z-index: 2;

                @media(min-width:769px){
                    width: 6px;
                }
            }

            &:after{
                left: auto;
                right: -1px;
            }
        }


        .rail-bar-button-left,
        .rail-bar-button-right{
            height: 36px;
            width: 36px;
            top: auto;
            bottom: 20%;
            fill: white;
            background: $color-blue-1;
            opacity: 1;
            box-shadow: 1px 2px 3px 0px rgba(black,.05);

            svg{
                height: 14px;
                width: 14px;
            }

            &.disabled{
                opacity: 0;
                pointer-events: all;
                background: #d0d0d0;
            }
        }

        .rail-bar-button-left{
            left: 0px;
        }

        .rail-bar-button-right{
            right: 0px;
        }
    }
}

#location-single-view .sv-footer{
    margin-left:-12px;
    margin-right:-12px;
    width: auto;

    @media(min-width: 769px){
        margin-left: -16px;
        margin-right: -16px;
    }
}

.sv-info-placeholder{
    width: 100%;
    margin-top: 16px;
}

.sv-info{
    position: absolute;
    left: 0px; bottom: 0px;
    width: 100%;
    height: auto;
    min-height: 64px;
    color: white;

    .footer-block{
        position: relative;
        width: 100%;
        height: auto;
        background-color: darken($color-blue-2, 10%);
        font-family: 'Avenir';
        transition: 120ms;

        &.clickable{
            cursor: pointer;

            &:hover{
                background-color: darken($color-blue-2, 20%);
            }
        }

        &.title{
            background-color: darken($color-blue-2, 5%);

            &.clickable{
                &:hover{
                    background-color: darken($color-blue-2, 18%);
                }
            }

            .value{
                text-transform: uppercase;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                padding: 32px 32px 28px 100px;
            }
        }

        &:nth-child(2n){
            background-color: darken($color-blue-2, 15%);

            &.clickable{
                &:hover{
                    background-color: darken($color-blue-2, 22%);
                }
            }
        }

        .icon{
            position: absolute;
            top: 0;
            left: 0;
            width: 75px;
            height: 100%;
            background-color: rgba(0,0,0,.13);
            background-size: 50px;
            background-position: center;
            background-repeat: no-repeat;

            svg{
                position: absolute;
                fill: #eee;
                width: 27px;
                height: 27px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .value{
            padding: 24px 32px 22px 100px;
            color: white;
            font-size: 13px;
            font-family: 'Avenir';
            border-top: 1px solid rgba(40, 40, 40,0.2);
        }
    }
}
