
.search-container{
    max-width: none!important;
    width: 100%;
    
    &:nth-child(2n) {
        background-color: white!important;
    }
}

.search-category-container{
    max-width: none!important;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 2px!important;

    &.white{
        background-color: white;
        margin: -10px;
        width: calc( 100% + 20px );
        padding: 16px 12px;
    }

    .breakline{
        width: 100%;
        height: 1px;
        background-color: $color-blue-2;
        margin:  10px 0 5px 0px;
    }

    .unflex{
        padding: 16px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        
        .category{
            flex-grow: 1;
            width: 33%;
            margin: 10px;

            .category-content-container{
                width: 100%!important;
            }
        }
    }    
}
