
.search-container{
    max-width: none!important;
    width: 100%;

    &:nth-child(2n) {
        background-color: white!important;
    }
}

.search-category-container{
    max-width: none!important;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 2px!important;

    &.white{
        background-color: white;
        margin: -10px;
        width: calc( 100% + 20px );
        padding: 16px 12px;
    }

    .breakline{
        width: 100%;
        height: 1px;
        background-color: $color-blue-2;
        margin:  10px 0 5px 0px;
    }

    .unflex{
        padding: 16px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;

        .category{
            flex-grow: 1;
            width: 33%;
            margin: 10px;

            .category-content-container{
                width: 100%!important;
            }
        }
    }
}

.rail-bar.search-banners{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: auto!important;

    .rail-bar-dots{
        bottom: auto;
        top: 36px;
        height: 36px;
        background: rgba($color-blue-1,.3);
        line-height: 36px;

        .dot{
            background: white;
        }
    }

    .rail-bar-button-right,
    .rail-bar-button-left{
        display: none;
        height: $header-bar-height;
        top: auto;
        bottom: 70px;
        opacity: 1;
        background: rgba(black,.5);
        width: 50%;

        svg{
            transform: none;
            height: $header-bar-height;
            width: $header-bar-height * 1.1;
            background: rgba(black,.4);
            padding: 12px;
            top: 0;
        }

        &.disabled{
            opacity: 1;
        }
    }

    .rail-bar-button-right svg{
        left: auto;
        right: 0px;
    }

    .rail-bar-button-left svg{
        left: 0px;
    }
}
