.section-header{
    position:absolute;
    width: 100%;
    top: $header-bar-height;
    z-index: 1000;
    pointer-events: all;
    transform: translateY(0px);
    transition: transform 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);

    &.collapse{
        transform: translateY(-#{$header-bar-height});
    }
}
