.sponsor-banner{
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-size: cover;

    .sponsor-banner-footer{
        width: 100%;
        position: absolute;
        bottom: 20px;
        background: rgba($color-blue-2,.9);
        min-height: 50px;
    }

    .sponsor-banner-icon{
        display: inline-block;
        vertical-align: top;
        height: 38px;
        width: 42px;
        margin-top: 6px;
        margin-left: 6px;
        background-size: cover;
        background-position: center;
        background-size: cover;
    }

    .sponsor-banner-text{
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 12px;
        color:white;
    }

    .sponsor-banner-title{
        display: block;
        font-family: 'Avenir';
        font-size: 14px;
        line-height: 1.5;
    }

    .sponsor-banner-subtitle{
        display: block;
        font-family: 'Avenir';
        font-size: 12px;
        line-height: 1.5;
    }
}
