.sub-page-article{
    max-width: 769px;
    padding: 10px;
    min-height: 100vh;

    line-height: 1.5;
    font-size: 13px;

     @media (min-width:480px){
         padding: 20px;
         font-size: 14px;
         max-width: 680px;
    }

    @media (min-width:769px){
         padding: 20px;
         font-size: 15px;
    }

    @media (min-width:960px){
        padding: 20px 40px;
        font-size: 16px;
        max-width: 720px;
    }

    @media (min-width:1200px){
        padding: 40px 60px;
        font-size: 16px;
        max-width: 760px;
    }
}

.sub-page-header{

    h1{
        margin: 0;
    }

}

.sub-page-content{
    font-family: 'Avenir', sans-serif;
}

body.sub-page .poly-view{
    .content{ height: auto!important; }

    .left-container{
        width: 0%;
    }

    .right-container{
        width: 100%;
    }

    @media( min-width: 480px){

        .left-container{

            width: 240px;
        }

        .right-container{
            width: calc(100% - 240px);
        }
    }

    @media( min-width: 769px){

        .left-container{

            width: 320px;
        }

        .right-container{
            width: calc(100% - 320px);
        }
    }

    @media( min-width: 769px){

         .left-container{
            width: 320px;
        }

        .right-container{
            width: calc(100% - 320px);
        }
    }

}

.sub-page-menu{
    font-size: 115%;
    max-width: 320px;
    margin-left: auto;
    margin-right: 0px;
    line-height: 2;
    padding: 20px;

    @media (min-width:1200px){
        padding: 40px 60px;
        max-width: 400px;
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu-item-description{
        display: block;
        font-size: 75%;
        margin-top: 5px;
        font-family: 'Avenir', sans-serif;
        line-height: 1.5;
    }

    .sub-menu{
        margin: 5px 0px 0px;
        font-family: 'Avenir', sans-serif;
        font-size: 75%;

        li{
            margin-bottom: 5px;
        }
    }

    li{
        margin-bottom: 20px;
    }


    a{
        text-decoration: none;
        color: $color-grey-1;
    }
}

@media only screen and(min-width:1080px){
    body.sub-page .content-container.poly-view .left-container{
        width: 40%;
    }
    body.sub-page .content-container.poly-view .right-container{
        width:60%;
    }
}

@media only screen and(min-width:1400px){
    body.sub-page .content-container.poly-view .left-container{
        width: 40%;
    }
    body.sub-page .content-container.poly-view .right-container{
        width: 60%;
    }
}

.location-list{

    ul{
        list-style: none;
        padding: 0;
    }

    .letter-list{
        margin-bottom: 20px;
    }

    li{
        line-height: 2;
    }

    .letter{
        text-transform: uppercase;
        font-size: 140%;
        font-weight: bold;
    }
}
