@keyframes repaint{
    0%{transform: translateY(1px);}
    100%{transform: translateY(0px);}
}

.sync-outer{
    position:relative;
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
    transform: translateZ(0);
}

.sync-outer.fixed{
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: -100px;
    padding-bottom: 100px;
    animation: repaint 1 linear forwards 50ms;
}

.sync-outer.bottom,
.sync-outer.fixed.bottom{
    top: auto;
    left: 0!important;
    bottom: 0;
    padding-bottom: 0;
    position: absolute;
    animation: repaint 1 linear forwards 50ms;
}
.sync-outer .sync-inner{
    position: relative;
    min-height: auto;
    overflow: auto;
    padding: 0;
    margin: 0;
    clear: both;
    transform: translateZ(0);
}
