#user-view{
    background-color: #292929;

    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        padding: 0px 24px;
        text-align: center;
        max-width: 400px;
    }

    .heart-icon{
        display: inline-block;
        fill: white;
        width: 32px;
        height: 32px;
        margin-bottom: 10px;
        @media(min-height:600px){margin-bottom: 20px;width: 64px; height: 64px;}
    }

    .title{
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 10px;

        @media(min-height:600px){margin-bottom: 20px;}
    }

    .subtitle{
        text-align: center;
        color: #ccc;
        font-size: 14px;
        font-weight: 100;
        font-family: 'Avenir';
        margin-bottom: 25px;
        line-height: 1.5;

        @media(min-height:600px){margin-bottom: 40px;}
    }

    .login-btn{
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        padding: 14px 20px;
        background-color: #3b5998;
        color: #fff;
        border: 1px solid white;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 25px;
        transform: scale(1);
        transition: transform 120ms, background-color 120ms;
        transform-origin: center;

        @media(min-height:600px){margin-bottom: 40px;}

        &:hover{
            transform: scale(1.01);
            background-color: lighten(#3b5998,2);
        }

        @media(min-width:640px){font-size:20px;}
        @media(min-width:769px){font-size:14px;}
        @media(min-width:960px){font-size:20px;}
    }

    .notification{
        font-size: 12px;
        text-align: center;
        color: #ccc;
        font-family: 'Avenir';
        line-height: 1.4;
    }

    .loader{
        display: inline-block;
    }

    .loggedIn .notification{
        font-size: 14px;
    }

    .loggingIn{
        .notification{
            font-size: 13px;
        }

        .loader-line{
            background-color: #ccc!important;
        }
    }

}
