
// Dimension Vars
$top-area-height: 200px;
$menu-bar-height: 40px;

// Color Vars
$color-blue-1: #68a297; // #42828C; // #5c8989; // #467e93;
$color-blue-2: #689a95; // #7DA5B3; // #5c8989;  // #8fadba;
$color-green-1: #ace5ef;
$color-green-2: #00b3a1;

$color-grey-1: #494950;
$color-grey-2: #292929;

// Dev or Debug related
$bp-1: 1600px;
$bp-2: 1600px;
$bp-m: 640px;

$main-container-width: 1600px;
$main-container-width-bp-1: 1600px;

// Views
$views: 5;
