
// Dimension Vars
$top-area-height: 250px;
$menu-bar-height: 60px;

// Color Vars
$color-blue-1: #42828C; // #467e93;
$color-blue-2: #7DA5B3; // #8fadba;
$color-green-1: #ace5ef;

$color-grey-1: #494950;

// Dev or Debug related
$bp-1: 1400px;
$bp-2: 1400px;
$bp-m: 640px;

$main-container-width: 1400px;
$main-container-width-bp-1: 1400px;
