.viewsliderdots{
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #f0f0f0;
    display: block;
    list-style: none;
    padding: 6px;
    margin: 0;
    text-align: center;
    font-size: 0;
    opacity: .95;
    transition: 200ms;
    * { transition: 200ms; }

    &.hidden{
        opacity: 0;
    }

    .viewsliderdot{
        width: 6px;
        height: 6px;
        display: inline-block;
        margin: 0px 2px;
        background: #393939;
        padding: 0;
        opacity: 0.4;
        transition: opacity 120ms;
        border-radius: 100%;

        &.viewsliderdot-active{
            opacity: .9;
        }
    }

    @media(min-width: 640px){
        padding: 10px;

        .viewsliderdot{
            width: 10px;
            height: 10px;
            margin: 0px 4px;
        }
    }
}
