.viewbar{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: $menu-bar-height;
    padding-left: 12px;
    line-height: $menu-bar-height;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    background-color: $color-blue-2;
    top: $header-bar-height;
    z-index: 100;
    border-bottom: 1px solid #292929;

    &.dark{
        background-color: darken( $color-blue-2, 5% );
    }

    &.clickable{
        a{ cursor: pointer; }
    }

    @media(min-width:769px){padding-left:20px;}

    a{
       color: white;
        text-decoration: none;
        height: inherit;
        line-height: inherit;
        display: inline-block;
        width: calc(100% - #{$menu-bar-height});
        overflow: hidden;
    }

    .close-button{
        position: absolute;
        top: 50%;
        right: 0px;
        height: 100%;
        width: $menu-bar-height * 1.2;
        text-align: center;
        transform: translate(0,-50%);
        color: white;
        font-size: 24px;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 120ms;
        border-left: 1px solid rgba(white,.6);

        &:hover{
            background-color: lighten($color-blue-2,2%);
        }
    }
}

.viewbar-title-icon {
    display: inline-block;
    float: left;
    position: relative;
    width: 16px;
    height: $menu-bar-height;
    margin-right: 6px;

    svg{
        position: absolute;
        top: 50%;
        LEFT: 50%;
        height: 16px;
        width: 16px;
        transform: translate(-50%,-50%);
        fill: rgba(white,.8);
        stroke: darken($color-blue-2, 5);
    }
}
