

// Transition fields
$docs-trans: cubic-bezier(0.77, 0, 0.175, 1); // cubic-bezier(.07,.65,.42,1);

// Mobile n' desktop
.docs {


  position: fixed;
  bottom: 0; left: 0;
  width: 100vw; height: 0;

  transition: 480ms $docs-trans;
  background-color: darken( $primary-color, 5% );

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  z-index: 999;

  &.visible {

    height: 100vh;

  }

}

// Mobile docs
@media screen and ( max-width: $mobile-width ) {
  .docs{
    .docs-body {

      position: absolute;
      top: 0; left: 0;
      width: 200%; height: auto;

      white-space: nowrap;
      font-size: 0;

      transition: 400ms $docs-trans;

      & > * {

        display: inline-block;
        width: 50%; height: auto;
        font-size: 12px;

        vertical-align: top;

      }

      .sidemenu {

        position: sticky;
        top: 0; height: 100%;

        .sidemenu-inner {

          width: 100%;
          height: 100vh;

          .sidemenu-header {

            position: relative;
            width: 100%; height: 96px;

            background-color: $accent-color;
            box-shadow: 0px 2px 1px rgba( 0, 0, 0, .075 );

            svg {

              width: 12px;
              fill: $primary-color;

              position: absolute;
              top: 50%; left: 50%;
              transform: translate(-50%,-50%);

            }

          }

          .sidemenu-elements {
            
            position: relative;
            width: 100%; height: calc( 100vh - 96px );

            display: flex;
            flex-direction: column;

            .sidemenu-element {

              position: relative;
              display: static;

              // border-top: 1px solid rgba( $secondary-color, .1 );
              transition: 120ms ease-out;
              flex: 1;

              &:nth-child(0) {

                border: none;

              }

              .text {

                position: absolute;
                top: 50%; left: 32px;
                transform: translateY( -50% );

                text-transform: uppercase;
                font-size: 12px;
                font-weight: 500;

                color: $secondary-color;

              }

              &:nth-child( 2n + 1 ) {
                
                background-color: rgba( $secondary-color, .05 );

              }

              &.sidemenu-close {

                border: none;
                box-shadow: 0px 2px 1px rgba( 0, 0, 0, .075 );
                background-color: $accent-color;
                z-index: 1;

                .text {

                  font-weight: 800;
                  color: $primary-color;

                }

              }

            }

          }

        }

      }

      .content {

        position: relative;

        .article {

          white-space: initial;
          background-color: rgba( $secondary-color, .025 );

          .title {

            position: sticky;
            top: 0;
            width: 100%; height: 96px;
            padding-left: 64px;

            line-height: 96px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 800;

            color: $primary-color;
            background-color: $accent-color;
            box-shadow: 0px 2px 1px rgba( 0, 0, 0, .075 );

            .close {

              position: absolute;
              top: 0; left: 32px;
              width: 96px; height: 100%;

              z-index: 1;

              svg {
                
                display: none;

              }

              &::before {

                content: '';

                position: absolute;
                top: 50%; left: 0;
                transform: translateY( -50% );

                border: 6px solid transparent;
                border-right-color: rgba($primary-color, .8);

              }

            }

          }

          .text {

            padding: 32px;
            width: 100%; 
            height: auto;

            line-height: 1.5;
            text-align: justify;
            font-weight: 300;
            font-size: 12px;
            color: $secondary-color;

          }

        }

      }

      &.shifted {

        left: -100%;

      }

    }
  }
}


// Desktop docs
@media screen and ( min-width: $mobile-width ) {
  .docs .docs-body {

    position: relative;
    width: auto; height: auto;
    max-width: 1300px; // <-  Or something like tha'

    margin: 128px auto;
    padding: 0 240px 0 320px;

    // Sidemenu
    .sidemenu {

      position: absolute;
      top: 5px; left: 52px;
      width: calc( 320px - 124px );
      height: 100%;

      .sidemenu-inner {

        position: sticky;
        top: 133px;

        .sidemenu-header {

          display: none;

        }

        .sidemenu-element {

          position: relative;
          display: block;
          margin-bottom: 16px;

          text-decoration: none;
          text-transform: uppercase;
          text-align: right;

          font-size: 12px;
          font-weight: 500;

          transition: 120ms ease-out;
          color: $secondary-color;

          &.sidemenu-close {

            margin-top: 24px;
            font-weight: 800;

          }

          &::before {

            content: '';

            position: absolute;
            top: 50%; right: 0;
            transform: translateY( -50% );

            border: 4px solid transparent;
            border-right-color: $accent-color;

            transition: 120ms ease-out;
            opacity: 0;

          }

          &:hover {

            padding-right: 6px;
            color: rgba( $accent-color, .7 );

          } 

          &.active {

            padding-right: 12px;
            color: $accent-color;

            &::before {

              opacity: 1;

            }

          }

        }

      }

    }

    // Content
    .content {

      position: relative;

      .article {

        color: $secondary-color;

        .title {

          position: relative;
          width: 100%;

          text-transform: uppercase;
          font-size: 24px;
          font-weight: 800;

          margin-bottom: 24px;

          .close {

            position: absolute;
            top: 0; right: 0;
            height: 100%;

            cursor: pointer;

            svg {

              position: absolute;
              top: 50%; right: 0;
              transform: translateY(-50%);

              width: 24px;
              fill: rgba( $secondary-color, .8 );
              transition: 120ms ease-out;

            }

            &:hover svg {
              
              fill: $secondary-color;

            }

          }

        }

        .text {

          text-align: justify;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.7;

          p { margin: 4px 0; }
          
          h1, h2, h3, h4, h5, h6 {
            
            text-transform: uppercase;
            font-weight: 800;

          }

        }

      }

    }

  }
}