

// Local fields
$sidebar-town-height: 48px;
$sidebar-trans: cubic-bezier(.6,0,.4,1);

// Side bar
.sidebar{

  position: absolute;
  top: 0; left: 0;

  width: calc( 50vw + #{$sidebar-width} / 2 ); // <- helps fix edge bug
  height: 100vh;
  max-width: $sidebar-width; // <- helps fix edge bug

  background-color: darken($accent-color, 6%);
  overflow: hidden;

  cursor: pointer;
  z-index: 99;

  transition: 180ms $sidebar-trans;

  *{
    transition: 180ms $sidebar-trans,
      top 0ms ease-out,
      height 0ms ease-out,
      background-color 0ms ease-out;
  }

  .topbar{

    position: relative;
    width: 100%; height: $sidebar-town-height;
    background-color: darken($secondary-color, 0%);

    .icon{

      position: absolute;
      top: 50%; left: 24px;
      transform: translate(-50%,-50%);

      width: 16px;
      svg{ fill: $primary-color; }

    }

    .town{

      position: absolute;
      top: 48%; left: 40px;
      transform: translateY(-50%);

      opacity: 0;

      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: $sidebar-town-height;

      color: darken( $primary-color, 10% );

    }

    .buttons{

      position: absolute;
      top: 0; right: 0;
      opacity: 0;

      width: auto;
      height: $sidebar-town-height;

      white-space: nowrap;

      .button{

        display: inline-block;
        position: relative;
        width: auto;
        height: $sidebar-town-height;

        padding: 0 24px;
        border-left: 1px solid rgba($primary-color, .7);
        color: rgba($primary-color, .7);
        line-height: $sidebar-town-height;

        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        font-weight: 300;

        transition: 0ms;

        &:hover{

          background-color: rgba($primary-color, .02);
          border-color: $primary-color;
          color: $primary-color;

        }

      }

    }

  }

  section{

    position: absolute;
    left: 0;

    width: 100%;
    height: calc( ( 100vh - #{$sidebar-town-height} ) / 2 );

    .icon{

      position: absolute;
      top: 54%; left: 50%;
      transform: translate(-50%,-50%);

      width: 16px;
      svg{ fill: $primary-color; }

    }

    .text{

      position: absolute;
      top: 50%; left: 64px;
      transform: translateY(-50%);

      opacity: 0;

      text-align: center;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      color: $primary-color;

      .subtext{

        position: absolute;
        bottom: -18px; left: 50%;
        transform: translateX(-50%);

        width: 200px;

        text-align: center;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;

        color: darken( $primary-color, 10% );

      }

    }

    &:after{

      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;

      background-color: rgba($primary-color, .04);
      transition: 80ms;
      opacity: 0;

    }

    &:hover{
      &:after{

        opacity: 1;

      }
    }

  }

  section.sidebar-places {
    top: calc( ( 100vh - #{$sidebar-town-height} ) /
      2 + #{$sidebar-town-height} );
  }

  section:not(.active){
    background-color: rgba($secondary-color, .3);
  }

  // Open state
  // Mobile
  @media screen and ( max-width: $mobile-width ) {
    &.forceopen {

        width: 100vw;

        section .icon{

          left: 24%;
          width: 48px;

        }

        section .text{

          left: 44%;
          opacity: 1;
          font-size: 48px;

        }

        .topbar{

          .town{
            opacity: 1;
            left: 48px;
          }

          .buttons{
            opacity: 1;
          }

        }

    }
  }

  // !Mobile
  @media screen and ( min-width: $mobile-width ) {
    &:hover {
      
      max-width: 53vw; // <- helps fix edge bug

      section .icon{

        left: 28%;
        width: 36px;

      }

      section .text{

        left: 45%;
        opacity: 1;
        font-size: 64px;

      }

      .topbar{

        .town{
          opacity: 1;
          left: 48px;
        }

        .buttons{
          opacity: 1;
        }

      }

    }
  }

}
