

// Welcome view
.welcome-message{

  position: relative;
  width: 100%; height: auto;
  color: $secondary-color;

  // Head
  .head{

    position: relative;
    width: 100%; height: auto;
    padding-bottom: 88px;

    .coverimage{

      position: relative;
      width: 100%; height: calc( (50vw - #{$view-head-height}) / 16 * 9 );

      background-size: 101%;
      background-position: center;

      @media screen and ( max-width: $mobile-width ) {
        height: calc( (100vw - #{$view-head-height}) / 16 * 9 );
      }

      .coverimage-row{

        position: absolute;
        bottom: 0; left: 0;
        width: 100%; height: 48px;

        background-color: rgba($accent-color, .8);

        @media screen and ( max-width: $mobile-width ) {
          display: none;
        }

        .welcome-cta-icons{

          position: absolute;
          bottom: 0; right: 32px;
          width: auto; height: 48px;
          border-right: 1px solid rgba($primary-color, .4);

          display: flex;
          flex-wrap: nowrap;

          .welcome-cta-icon{

            position: relative;
            display: block;
            width: 58px; height: 48px;

            border-left: 1px solid rgba($primary-color, .4);
            flex: 1;

            .icon{

              position: absolute;
              top: 50%; left: 50%;
              transform: translate(-50%,-50%);
              height: 16px; width: 16px;

              &.ig-icon{

                width: 18px;
                height: 18px;

              }

              svg{

                position: absolute;
                top: 0; right: 0;
                fill: rgba($primary-color, .8);

              }

            }

            &:hover{

              background-color: rgba($primary-color, .1);
              svg{ fill: $primary-color; }

            }

          }

        }

      }

      .logo{

        position: absolute;
        left: 32px;
        bottom: -64px;
        width: 90px;
        height: 90px;

        // border: 1px solid $accent-color;
        box-shadow: 0px 1px 2px rgba(0,0,0,.09);

        background-size: cover;
        background-position: center;

        @media screen and ( max-width: $mobile-width ) {
          left: 16px;
        }

      }

      .title {

        position: absolute;
        left: 140px; bottom: -36px;

        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;

        white-space: nowrap;
        overflow: hidden;

        max-width: calc((100vw - 48px) / 2 - 140px - 32px);

        @media screen and ( max-width: $mobile-width ) {
          left: 124px;
          max-width: calc(100vw - 48px - 124px - 16px);
        }

      }

      .subtitle{

        position: absolute;
        left: 140px; bottom: -56px;

        color: $accent-color;
        font-weight: 300;
        font-size: 15px;

        @media screen and ( max-width: $mobile-width ) {
          left: 124px;
        }

      }

    }

  }

  // Railbar stuff
  .railbar{

    margin: 0px 32px;

    .text-section-btn{
      margin: 0px 32px;
    }

    @media screen and ( max-width: $mobile-width ) {
      margin: 0;

      .railbar-inner{
        padding: 0 16px;

        .text-section-btn{
          font-weight: 300;
        }
      }
    }

  }

  // Texts
  .text{

    position: relative;
    width: 100%; height: auto;

    padding: 24px 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;

    @media screen and ( max-width: $mobile-width ) {
      padding: 8px 16px;
      line-height: 1.5;
      font-size: 12px;
    }

  }

  // Startoff
  .startoff{

    position: relative;
    width: auto; height: auto;

    padding: 32px 32px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 16px;

    background-color: $accent-color;
    color: $primary-color;

    box-shadow: 0px 2px 1px rgba(0,0,0,.075);
    margin: 0px 32px 32px 32px;

    @media screen and ( max-width: $mobile-width ) {

      margin: 0 0 8px 0;
      padding: 16px;

      font-size: 13px;
      font-weight: 300;

      border: 1px dashed $accent-color;
      border-right: none;
      border-left: none;

      background-color: rgba(0,0,0,0);
      color: $accent-color;

    }

  }

  // Advertisements
  .advertisements{

    margin: 0px 32px 32px 32px;
    padding: 0;
    overflow: hidden;

    .advertisement{

      margin: 0px 0px 48px 0px;
      box-shadow: 0px 2px 1px rgba(0,0,0,.075);

    }

    @media screen and ( max-width: $mobile-width ) {
      margin: 16px;
    }

  }

}
