

// Global variables
$primary-color: #fff;
$secondary-color: #333333;
$accent-color: #699;

$fontstack: 'Lato', sans-serif;

$mobile-width: 770px;
$sidebar-width: 48px;

// Normalization
body{

  position: absolute;
  width: calc(100vw - 1px); height: 100vh;
  overflow: hidden;

  font-family: $fontstack;
  font-weight: 400;
  color: $secondary-color;

  margin: 0;

  *{ box-sizing: border-box; }
  &.preventUserSelect{ user-select: none; }

}

// App
.app{

  width: 100vw;
  height: 100vh;
  padding-left: $sidebar-width;

}

.app-inner{

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

// Normalization
::-webkit-scrollbar {
    display: none;
}

// Imports
@import './parts/view';
@import './parts/transitiongroups';

@import './parts/containers/sidebar';
@import './parts/containers/welcomeview';
@import './parts/containers/calendarview';
@import './parts/containers/eventview';
@import './parts/containers/placelistview';
@import './parts/containers/singleplaceview';

@import './parts/containers/parts/event';
@import './parts/containers/parts/category';
@import './parts/containers/parts/place';
@import './parts/containers/parts/singlefooter';
@import './parts/containers/parts/railbar';

@import './parts/presentationals/modalbox';
@import './parts/presentationals/advertisement';
@import './parts/presentationals/parts/loader';
@import './parts/presentationals/parts/ctaicons';
@import './parts/presentationals/parts/cookies';
