@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local("assets/font-faces/AvenirNextLTPro-Regular.woff"), url("assets/font-faces/AvenirNextLTPro-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Bold';
  font-style: normal;
  font-weight: normal;
  src: local("assets/font-faces/AvenirNextLTPro-Bold.woff"), url("assets/font-faces/AvenirNextLTPro-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Avenir  Italic';
  font-style: normal;
  font-weight: normal;
  src: local("assets/font-faces/AvenirNextLTPro-It.woff"), url("/assets/font-faces/AvenirNextLTPro-It.woff") format("woff"); }
body {
  margin: 0;
  background-color: #292929; }
  body * {
    font-family: 'Montserrat', 'Avenir Bold', sans-serif;
    box-sizing: border-box; }

@media screen and (max-width: 1400px) {
  .main-container {
    max-width: 1080px !important; } }
@media screen and (max-width: 640px) {
  .content-container .left-container {
    min-height: calc(100vh - 60px) !important; }
  .content-container .right-container {
    min-height: calc(100vh - 60px) !important; } }
.main-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 1400px;
  -webkit-transition: 200ms;
  transition: 200ms;
  overflow: hidden;
  border-top: none;
  border-bottom: none; }

.content-container {
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .content-container.poly-view .content {
    height: auto !important; }
  .content-container.poly-view .left-container {
    width: calc( 100% - 720px ); }
  .content-container.poly-view .right-container {
    width: 720px !important; }
  .content-container .loader {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; }
  .content-container .container-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 250px - 60px); }
  .content-container .left-container {
    background-color: #eee;
    -webkit-transition: width 250ms;
    transition: width 250ms;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-bottom: 141px; }
    .content-container .left-container .content {
      min-height: calc(100vh - 60px); }
    .content-container .left-container.no-trans {
      -webkit-transition: 0ms;
      transition: 0ms; }
  .content-container .right-container {
    background-color: white;
    width: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-transition: width 250ms, opacity 100ms;
    transition: width 250ms, opacity 100ms; }
    .content-container .right-container.spoopy {
      opacity: 0;
      -webkit-transition: opacity 0ms;
      transition: opacity 0ms; }
    .content-container .right-container.no-trans {
      -webkit-transition: 0ms;
      transition: 0ms; }

@media only screen and (min-width: 640px) {
  .content-container .left-container.active,
  .content-container .right-container.active {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }
@media only screen and (min-width: 1080px) {
  .content-container .left-container.active {
    width: calc(100% - 700px); }

  .content-container .right-container.active {
    width: 700px; } }
@media screen and (max-width: 1400px) {
  .header-container {
    max-width: 1080px !important; } }
@media screen and (max-width: 640px) {
  .header-container {
    position: fixed;
    top: -250px;
    -webkit-transition: 200ms;
    transition: 200ms; }
    .header-container.active {
      top: 0; }

  .header-placeholder {
    height: 60px !important;
    display: block !important; }

  #header .prevButton {
    left: calc(50% - 135px) !important; }
  #header .nextButton {
    left: calc(50% + 135px) !important; }
  #header #searchfield {
    width: 250px !important; } }
.header-container {
  width: 100%;
  max-width: 1400px;
  -webkit-transition: 200ms;
  transition: 200ms;
  height: auto;
  z-index: 100000; }
  .header-container.fixed {
    position: fixed;
    top: -250px;
    -webkit-transition: 200ms;
    transition: 200ms; }
    .header-container.fixed.active {
      top: 0; }

.header-placeholder {
  width: 100%;
  max-width: 1400px;
  height: calc(250px + 60px);
  display: none; }
  .header-placeholder.fixed {
    display: block; }

#header {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url(http://dev.smamo.dk/wp-content/uploads/2016/02/smamo-slide-2.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: 200ms;
  transition: 200ms;
  overflow: hidden;
  border-bottom: 1px solid #333; }
  #header .header-commercials {
    width: 100%;
    height: 100%; }
    #header .header-commercials .swiper-wrapper {
      width: 100%;
      height: 100%; }
      #header .header-commercials .swiper-wrapper .swiper-slide .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(66, 130, 140, 0.7);
        z-index: 9; }
      #header .header-commercials .swiper-wrapper .swiper-slide .img-container {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center; }
    #header .header-commercials .prevButton {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: calc(50% - 160px);
      -webkit-transform: translate(-100%, -50%);
              transform: translate(-100%, -50%);
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-right: 12px solid white;
      border-left: none;
      opacity: .8;
      -webkit-transition: 150ms;
      transition: 150ms;
      z-index: 10; }
      #header .header-commercials .prevButton:hover {
        opacity: 1; }
    #header .header-commercials .nextButton {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: calc(50% + 160px);
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-right: none;
      border-left: 12px solid white;
      opacity: .8;
      -webkit-transition: 150ms;
      transition: 150ms;
      z-index: 10; }
      #header .header-commercials .nextButton:hover {
        opacity: 1; }
  #header .commercial-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #header .commercial-container .swiper-slide {
      width: 100%;
      height: 100%; }
      #header .commercial-container .swiper-slide .img-container {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center; }
  #header #searchcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10; }
    #header #searchcontainer #searchlabel {
      position: absolute;
      top: 50%;
      left: 20px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-weight: 100;
      text-transform: uppercase;
      font-size: 14px; }
      #header #searchcontainer #searchlabel.not-visible {
        display: none; }
    #header #searchcontainer #searchicon {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 20px;
      height: 20px; }
    #header #searchcontainer #searchfield {
      box-sizing: border-box;
      width: 300px;
      height: 42px;
      border-radius: 4px;
      border: 0;
      padding-left: 20px;
      padding-right: 40px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-transition: 120ms;
      transition: 120ms; }
      #header #searchcontainer #searchfield:hover {
        background-color: white !important; }

#headerbar {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #494950;
  border-bottom: 1px solid #151515;
  z-index: 20;
  overflow: hidden; }
  #headerbar .logo-container {
    position: absolute;
    left: 0;
    width: 112px;
    height: 100%;
    z-index: 30;
    cursor: pointer;
    background-color: #313135; }
    #headerbar .logo-container::before {
      content: '';
      position: absolute;
      right: -18px;
      border-top: 30px solid transparent;
      border-bottom: 30px solid #313135;
      border-left: 9px solid #313135;
      border-right: 9px solid transparent; }
    #headerbar .logo-container .logo {
      position: absolute;
      width: 70px;
      height: auto;
      top: 10px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
    #headerbar .logo-container .city {
      color: white;
      position: absolute;
      left: 50%;
      bottom: 10px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: auto;
      text-align: center;
      font-size: 11px;
      text-transform: uppercase; }
  #headerbar .menu-show-btns {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    opacity: .4; }
    #headerbar .menu-show-btns .menu-show-img {
      position: absolute;
      top: 60px;
      width: 38px;
      height: 38px;
      -webkit-transition: all 300ms, rotate 500ms, top 300ms;
      transition: all 300ms, rotate 500ms, top 300ms;
      cursor: pointer; }
    #headerbar .menu-show-btns .menu-hide-img {
      position: absolute;
      top: 60px;
      width: 38px;
      height: 38px;
      -webkit-transition: all 300ms, rotate 500ms, top 300ms;
      transition: all 300ms, rotate 500ms, top 300ms;
      cursor: pointer; }
    #headerbar .menu-show-btns.active .menu-show-img {
      top: 60px !important; }
    #headerbar .menu-show-btns.active .menu-hide-img {
      top: 0 !important; }
    #headerbar .menu-show-btns.show .menu-show-img {
      top: 0; }
  #headerbar .back-button {
    position: absolute;
    background-color: #313135;
    top: 0;
    right: -140px;
    bottom: 0;
    width: 112px;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: 10; }
    #headerbar .back-button.active {
      right: 0; }
    #headerbar .back-button::before {
      content: '';
      position: absolute;
      left: -16px;
      border-top: 30px solid #313135;
      border-bottom: 30px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid #313135; }
    #headerbar .back-button.mobile .back-img {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg); }
    #headerbar .back-button .back-img {
      position: absolute;
      width: 36px;
      height: 36px;
      top: 50%;
      left: 46%;
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
              transform: translate(-50%, -50%) rotate(180deg); }
  #headerbar .beta-warning {
    position: absolute;
    top: 50%;
    right: -128px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: white;
    text-align: right;
    line-height: 18px;
    -webkit-transition: 300ms;
    transition: 300ms;
    z-index: 9;
    cursor: pointer; }
    #headerbar .beta-warning.active {
      right: 22px; }
    #headerbar .beta-warning .info {
      text-transform: uppercase;
      font-size: 14px; }
      #headerbar .beta-warning .info .info-arrow-img {
        width: 10px;
        height: 10px;
        margin-left: 4px; }
    #headerbar .beta-warning .version {
      text-transform: capitalize;
      font-size: 12px; }
  #headerbar .socialmedia {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    right: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    #headerbar .socialmedia .fb_link {
      width: auto;
      height: auto;
      opacity: .5;
      -webkit-transition: 200ms;
      transition: 200ms; }
      #headerbar .socialmedia .fb_link:hover {
        opacity: .85; }
      #headerbar .socialmedia .fb_link .fb_img {
        width: 36px;
        height: 36px; }

@media screen and (max-width: 640px) {
  #eventsbar .monthSelector {
    right: 20px !important; } }
#eventsbar {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #7DA5B3;
  z-index: 10; }
  #eventsbar #eventslayoutbtns {
    position: relative;
    width: 128px;
    height: 100%;
    border-right: 1px solid #CDCDCD;
    -webkit-transition: 300ms;
    transition: 300ms;
    display: inline-block; }
    #eventsbar #eventslayoutbtns:hover {
      background-color: #8aaebb; }
    #eventsbar #eventslayoutbtns img {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: auto;
      height: 22px;
      cursor: pointer; }
    #eventsbar #eventslayoutbtns .blocklayoutbtn {
      left: 30%; }
    #eventsbar #eventslayoutbtns .linelayoutbtn {
      left: 66%; }
  #eventsbar .monthSelector {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 32px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: white;
    cursor: pointer;
    padding-right: 22px;
    text-transform: uppercase;
    -webkit-transition: 120ms;
    transition: 120ms;
    font-size: 13px; }

.events-sync-container {
  position: absolute;
  width: 100%;
  min-height: calc( 100vh - 60px );
  height: auto; }

.eventscontainer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 480px) {
    .eventscontainer {
      padding: 10px; } }
  .eventscontainer * {
    font-family: 'Montserrat', 'Avenir Bold', sans-serif; }
  .eventscontainer .error {
    position: absolute;
    top: 48px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-transform: uppercase;
    font-size: 19px;
    width: 100%;
    text-align: center; }
  .eventscontainer.lineLayout .event {
    width: 100%;
    min-height: 110px;
    height: auto; }
    .eventscontainer.lineLayout .event .imgcontainer {
      float: left;
      width: 110px;
      height: 100%;
      border-bottom: none;
      border-right: 1px solid rgba(66, 130, 140, 0.6);
      padding-bottom: 0; }
    .eventscontainer.lineLayout .event .eventtext {
      width: auto;
      height: auto;
      padding: 8px;
      margin-bottom: 36px; }
      .eventscontainer.lineLayout .event .eventtext .title {
        width: auto;
        font-size: 12px;
        margin-left: 110px; }
      .eventscontainer.lineLayout .event .eventtext .start_time {
        margin-top: 0px;
        margin-left: 110px; }
      .eventscontainer.lineLayout .event .eventtext .eventlocation-container {
        width: calc( 100% - 135px );
        right: 16px;
        left: auto;
        bottom: 5px; }
        .eventscontainer.lineLayout .event .eventtext .eventlocation-container .eventblackbar {
          height: 2px; }
    @media (min-width: 480px) {
      .eventscontainer.lineLayout .event {
        min-height: 110px; }
        .eventscontainer.lineLayout .event .imgcontainer {
          width: 160px;
          border-right: 1px solid #42828C; }
        .eventscontainer.lineLayout .event .eventtext {
          padding: 16px;
          margin-bottom: 36px; }
          .eventscontainer.lineLayout .event .eventtext .title {
            font-size: 14px;
            margin-left: 160px; }
          .eventscontainer.lineLayout .event .eventtext .start_time {
            margin-left: 160px; }
          .eventscontainer.lineLayout .event .eventtext .eventlocation-container {
            width: calc( 100% - 192px );
            right: 16px;
            bottom: 10px; }
            .eventscontainer.lineLayout .event .eventtext .eventlocation-container .eventblackbar {
              height: 2px; } }
  .eventscontainer .event {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 145px;
    margin: 4px;
    border: 1px solid rgba(66, 130, 140, 0.6);
    background-color: #FFF;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    cursor: pointer; }
    @media (min-width: 480px) {
      .eventscontainer .event {
        width: 160px;
        margin: 6px;
        border: 1px solid #42828C; } }
    .eventscontainer .event .imgcontainer {
      width: 100%;
      padding-bottom: 80px;
      background-size: cover;
      background-position: center 20%;
      border-bottom: 1px solid rgba(66, 130, 140, 0.6); }
      @media (min-width: 480px) {
        .eventscontainer .event .imgcontainer {
          padding-bottom: 90px;
          border-bottom: 1px solid #42828C; } }
    .eventscontainer .event .eventtext {
      padding: 10px;
      padding-top: 10px;
      width: 100%;
      height: 140px;
      text-transform: uppercase; }
      .eventscontainer .event .eventtext .title {
        font-size: 11px; }
      .eventscontainer .event .eventtext .start_time {
        font-size: 10px;
        text-align: justify;
        color: #999;
        margin-top: 5px; }
      .eventscontainer .event .eventtext .eventlocation-container {
        width: calc(100% - 20px);
        position: absolute;
        bottom: 15px;
        left: 10px;
        height: 2em; }
        .eventscontainer .event .eventtext .eventlocation-container .eventblackbar {
          height: 2px;
          width: 100%;
          background-color: #42828C;
          margin-top: 6px;
          margin-bottom: 5px; }
        .eventscontainer .event .eventtext .eventlocation-container .eventlocation {
          font-size: 8px;
          color: #42828C;
          line-height: 11px; }
      @media (min-width: 480px) {
        .eventscontainer .event .eventtext {
          height: 160px;
          padding: 15px;
          padding-top: 15px; }
          .eventscontainer .event .eventtext .title {
            font-size: 13px; }
          .eventscontainer .event .eventtext .start_time {
            font-size: 12px; }
          .eventscontainer .event .eventtext .eventlocation-container {
            left: 15px;
            bottom: 15px;
            width: calc(100% - 30px); }
            .eventscontainer .event .eventtext .eventlocation-container .eventlocation {
              font-size: 9px; }
          .eventscontainer .event .eventtext .eventblackbar {
            height: 3px; } }

.left-container.all-loaded {
  padding-bottom: 0; }
  .left-container.all-loaded .load-more {
    display: none; }

.load-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 141px;
  line-height: 141px;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: #7DA5B3;
  cursor: pointer; }

.event-sv-content-container {
  position: relative;
  min-height: calc( 100vh - 60px );
  background-color: white;
  z-index: 10; }
  .event-sv-content-container .event-singleview {
    padding: 21px 64px 21px 64px;
    width: 100%;
    height: auto; }
    @media screen and (max-width: 1000px) {
      .event-sv-content-container .event-singleview {
        padding: 21px 32px 21px 32px; } }
    .event-sv-content-container .event-singleview .event-sv-parentname {
      font-size: 16px;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .event-sv-content-container .event-singleview .event-sv-img {
      width: 100%;
      padding-bottom: 56.25%;
      border: 1px solid #42828C;
      margin-bottom: 16px;
      background-size: cover;
      background-position: center 20%;
      margin: 0; }
    .event-sv-content-container .event-singleview .event-sv-title {
      line-height: 1.4;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 19px; }
    .event-sv-content-container .event-singleview .event-sv-start-time {
      font-size: 13px;
      margin-bottom: 19px;
      color: #42828C; }
    .event-sv-content-container .event-singleview .lineBreak {
      border: 0px;
      height: 1px;
      background-color: #333; }
    .event-sv-content-container .event-singleview .es-btns {
      padding: 8px 0px; }
      .event-sv-content-container .event-singleview .es-btns .status-btn {
        position: relative;
        display: inline-block;
        background-color: #4a929d;
        padding: 6px 8px 6px 29px;
        border-radius: 2px;
        font-size: 13px;
        text-transform: uppercase;
        border: 1px solid #494949;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.13);
        cursor: pointer;
        color: white;
        -webkit-transition: 100ms;
        transition: 100ms;
        margin-right: 16px; }
        .event-sv-content-container .event-singleview .es-btns .status-btn .icon {
          position: absolute; }
          .event-sv-content-container .event-singleview .es-btns .status-btn .icon.share {
            left: 10px;
            top: 13px;
            width: 12px;
            height: 12px; }
          .event-sv-content-container .event-singleview .es-btns .status-btn .icon.ticket {
            left: 8px;
            top: 7px;
            width: 15px;
            height: 15px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
        .event-sv-content-container .event-singleview .es-btns .status-btn:hover {
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.08); }
        .event-sv-content-container .event-singleview .es-btns .status-btn:active {
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2); }
    .event-sv-content-container .event-singleview .event-sv-desc * {
      font-family: 'Avenir';
      font-size: 14px;
      line-height: 1.5; }
    .event-sv-content-container .event-singleview .event-sv-desc a {
      color: #42828C;
      text-decoration: none;
      -webkit-transition: 100ms;
      transition: 100ms; }
      .event-sv-content-container .event-singleview .event-sv-desc a:hover {
        color: #295258; }
    .event-sv-content-container .event-singleview .icon {
      position: absolute;
      left: 10px;
      top: 53%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-size: 16px;
      font-weight: bold; }
    .event-sv-content-container .event-singleview .text {
      display: inline-block; }
    .event-sv-content-container .event-singleview .event-sv-desc * {
      font-family: 'Avenir';
      font-size: 14px; }
    .event-sv-content-container .event-singleview.fixed-bottom {
      position: fixed;
      top: auto;
      bottom: 32px;
      left: calc( 50% + 32px );
      right: 32px; }
    .event-sv-content-container .event-singleview.fixed-top {
      position: fixed;
      top: 32px;
      bottom: auto;
      left: calc( 50% + 32px );
      right: 32px; }
  .event-sv-content-container .event-sv-info-placeholder {
    width: 100%; }
  .event-sv-content-container .event-sv-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 32px;
    background-color: #5d8ea0;
    color: white; }
    .event-sv-content-container .event-sv-info .event-sv-parentname {
      font-size: 14px;
      text-transform: uppercase;
      margin-left: 45px; }
    .event-sv-content-container .event-sv-info .event-sv-adress {
      font-size: 13px;
      margin-left: 45px; }
    .event-sv-content-container .event-sv-info .event-sv-website {
      display: inline-block;
      margin-top: 16px;
      color: rgba(172, 229, 239, 0.9);
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: 200ms;
      transition: 200ms; }
      .event-sv-content-container .event-sv-info .event-sv-website:hover {
        color: #ace5ef; }
    .event-sv-content-container .event-sv-info .fb {
      position: absolute;
      top: 32px;
      left: 32px;
      cursor: pointer;
      opacity: .85; }
      .event-sv-content-container .event-sv-info .fb .fbIcon {
        width: 32px;
        height: 32px; }
      .event-sv-content-container .event-sv-info .fb:hover {
        opacity: 1; }

@media screen and (max-width: 1400px) {
  .commercial-img {
    max-width: calc(1080px / 2 - 64px) !important; } }
.commercial-img {
  margin: 32px;
  padding-bottom: 56.25%;
  opacity: .65;
  -webkit-transition: 350ms;
  transition: 350ms;
  cursor: pointer;
  background-size: cover;
  background-position: center; }
  .commercial-img:hover {
    opacity: 1; }

@media screen and (max-width: 640px) {
  .footer .copyright {
    position: relative !important;
    right: 0 !important;
    text-align: center; } }
.footer {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #494950;
  color: white;
  padding: 16px; }
  .footer .copyright {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 12px; }

.pickerArrow {
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 8px solid white;
  position: absolute;
  right: 0;
  top: 4px; }

.monthPicker_selector {
  background-color: #494950;
  width: 100%;
  height: 60px;
  margin-top: -60px;
  -webkit-transition: 150ms;
  transition: 150ms;
  border-left: none;
  border-right: none;
  box-sizing: content-box; }
  .monthPicker_selector.active {
    margin-top: 0; }
  .monthPicker_selector .month {
    position: relative;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 9px 0px 9px 0px;
    line-height: 31px;
    -webkit-transition: border-radius 150ms, background-color 150ms;
    transition: border-radius 150ms, background-color 150ms;
    font-size: 11px;
    text-transform: uppercase; }
    .monthPicker_selector .month.active {
      background-color: #7DA5B3;
      color: white; }
      .monthPicker_selector .month.active .yearTitle {
        color: #ddd; }
    .monthPicker_selector .month.active-left {
      background-color: #7DA5B3;
      color: white;
      border-radius: 50% 0 0 50%;
      height: 36px;
      line-height: 25px;
      margin: 12px 0px 12px 0px; }
      .monthPicker_selector .month.active-left .yearTitle {
        color: #ddd; }
    .monthPicker_selector .month.active-middle {
      background-color: #7DA5B3;
      color: white;
      border-radius: 0 !important;
      height: 36px;
      line-height: 25px;
      margin: 12px 0px 12px 0px; }
      .monthPicker_selector .month.active-middle .yearTitle {
        color: #ddd; }
    .monthPicker_selector .month.active-right {
      background-color: #7DA5B3;
      color: white;
      border-radius: 0 50% 50% 0;
      height: 36px;
      line-height: 25px;
      margin: 12px 0px 12px 0px; }
      .monthPicker_selector .month.active-right .yearTitle {
        color: #ddd; }
    .monthPicker_selector .month .yearTitle {
      position: absolute;
      top: 11px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      color: #9d9d9d; }

.sync-outer {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both; }

.sync-outer.fixed {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: -100px;
  padding-bottom: 100px; }

.sync-outer.bottom {
  top: auto;
  bottom: 0;
  position: absolute; }

.sync-outer .sync-inner {
  position: relative;
  min-height: auto;
  overflow: auto;
  padding: 0;
  margin: 0;
  clear: both; }

/*# sourceMappingURL=index.css.map */