

// Fader
.fader{

  position: relative;
  width: 100%; height: auto;

  .fader-inner{

    position: relative;
    width: 100%;
    overflow: hidden;
    transition: height 200ms ease-in-out;

    .fader-item{

      position: absolute;
      top: 0; left: 0;
      width: 100%; height: auto;
      opacity: 0;
      transition: 200ms ease-in-out;
      user-select: none;

      &.active{

        opacity: 1;
        user-select: auto;
        z-index: 9;

      }

    }

  }

}
